/* CriceleveteSignupForm.css */

/* Input Styles */

body{
  background-image: url('https://i.pinimg.com/564x/d3/da/57/d3da57160e263c13eefa874732e3591f.jpg');
}
.input {
  background-color: #1a202c;
  border: 1px solid #4a5568;
  color: white;
  border-radius: 10px;
  border-color: white;
  padding: 0.5rem;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #f56565;
}

/* Button Styles */
/* .btn {
  
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-image 0.3s;
  background-color: black;
} */
/* 
.btn:hover {
  background-image: linear-gradient(to right, #f6ad55, #dd6b20);
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */

/* Toast Styles */
.toast {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #f56565;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: slide-in-right 0.5s ease-out forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

